.avatarMenu {
  width: 10rem;
  height: 10rem;
  min-width: 10rem;
  max-width: 10rem;
  border-radius: 50%;
  border: 2px black solid;
  
}

.linkItems {
    width: 100%;
    text-decoration: none;
    color: white;  
}
.linkItems:hover{
    background-color: #6E6DA6;
}
